.ods-alert {
  align-items: flex-start;
  background-color: $color-interface-light-up;
  border-radius: $border-radius-md;
  color: $color-interface-dark-down;
  display: flex;
  flex-direction: column;
  font-family: $font-family-base;
  font-size: $font-size-xxxs;
  font-weight: $font-weight-regular;
  justify-content: center;
  line-height: $line-height-comfy;
  padding: $spacing-stack-xs;

  @include media-breakpoint-up(sm) {
    &__button--mobile {
      display: none;
    }
  }

  &--error {
    background-color: $color-status-negative-up;

    .ods-alert__icon {
      stroke: $color-status-negative-pure;
    }

    .ods-alert__title {
      color: $color-status-negative-pure;
    }

    .ods-btn {
      background-color: $color-status-negative-pure;
    }

    .ods-link {
      color: $color-status-negative-pure;
    }
  }

  &--warning {
    background-color: $color-status-warning-up;

    .ods-alert__icon {
      stroke: $color-status-warning-deep;
    }

    .ods-alert__title {
      color: $color-status-warning-deep;
    }

    .ods-btn {
      background-color: $color-status-warning-deep;
    }

    .ods-link {
      color: $color-status-warning-deep;
    }
  }

  &--success {
    background-color: $color-status-positive-up;

    .ods-alert__icon {
      stroke: $color-status-positive-deep;
    }

    .ods-alert__title {
      color: $color-status-positive-deep;
    }

    .ods-btn {
      background-color: $color-status-positive-deep;
    }

    .ods-link {
      color: $color-status-positive-deep;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__icon {
    margin-right: 8px;
    min-width: $spacing-stack-sm;
    stroke: $color-brand-primary-down;
  }

  &__button {
    @include media-breakpoint-down(sm) {
      display: none;
    }

    &--mobile {
      margin-top: $spacing-stack-xxs;
    }

    .ods-btn {
      margin-left: $spacing-stack-xs;
      min-width: 0;
    }
  }

  &__header {
    align-items: center;
    display: flex;
    width: 100%;

    &--margin {
      margin: 0 0 $spacing-stack-xxs 0;
    }
  }

  &__title {
    color: $color-brand-primary-down;
    font-size: $font-size-xxs;
    font-weight: $font-weight-bold;
    line-height: $line-height-comfy;
  }
}
