.ods-amount-details {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: $spacing-inline-xxxs;

  &__main {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    gap: $spacing-inline-xxxs;
  }

  &__amount {
    color: $color-interface-dark-down;
    font-family: $font-family-base;
    font-size: $font-size-xxs;
    font-weight: $font-weight-medium;
    line-height: $line-height-comfy;
    margin: 0;
    text-align: right;
    white-space: nowrap;

    &--positive {
      color: $color-status-positive-deep;
    }
  }

  &__amount-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: $spacing-inline-xxxs;
  }

  &__amount-sign {
    color: $color-interface-dark-down;
    font-family: $font-family-base;
    font-size: $font-size-xxs;
    font-weight: $font-weight-medium;
    line-height: $line-height-comfy;
  }

  &__caption {
    color: $color-interface-dark-down;
    font-family: $font-family-base;
    font-size: $font-size-xxxs;
    font-weight: $font-weight-medium;
    line-height: $line-height-comfy;
    margin: 0;
    text-align: right;
    white-space: nowrap;
  }

  &__indicator {
    display: flex;
  }
}
