@use 'sass:math';

.ods-badge {
  display: flex;
  font-family: $font-family-base;

  &__content {
    align-items: center;
    background-color: $color-highlight-pure;
    border-radius: 40px;
    box-sizing: border-box;
    color: $color-interface-light-pure;
    display: flex;
    font-weight: $font-weight-bold;
    justify-content: center;
    white-space: nowrap;
    width: auto;
  }

  &--medium .ods-badge__content {
    font-size: $font-size-xxxs;
    height: 24px;
    line-height: 24px;
    min-width: 24px;
    width: 24px;
  }

  &--small .ods-badge__content {
    font-size: 10px;
    height: 16px;
    line-height: 16px;
    min-width: 16px;
  }

  &--tiny .ods-badge__content {
    display: block;
    font-size: 10px;
    height: 8px;
    line-height: 8px;
    min-width: 8px;
    overflow: hidden;
    width: 8px;
  }

  &--small &__text {
    border-radius: 40px;
    padding: 0 4px;
    width: auto;
  }

  &--overflow .ods-badge__content {
    padding: 0 4px;
    width: auto;
  }

  &--overflow .ods-badge__content {
    padding: 0 4px;
    width: auto;
  }

  &--brand .ods-badge__content {
    background-color: $color-brand-primary-pure;
  }

  &--complementary .ods-badge__content {
    background-color: $color-complementary-pure;
  }

  &--alert .ods-badge__content {
    background-color: $color-status-neutral-deep;
  }

  &--neutral .ods-badge__content {
    background-color: $color-interface-dark-up;
  }
}
