.ods-btn {
  border: $border-width-none;
  border-radius: $border-radius-pill;
  cursor: pointer;
  font-family: $font-family-base;
  font-weight: $font-weight-bold;
  line-height: $line-height-tight;
  outline: none;
  text-align: center;
  transition: background-color 0.1s ease-out;

  &--sm {
    font-size: $font-size-xxs;
    height: $spacing-inline-md;
    min-width: 96px;
    padding-left: $spacing-inline-xs;
    padding-right: $spacing-inline-xs;
  }

  &--md {
    font-size: $font-size-xs;
    height: 48px;
    min-width: 108px;
    padding-left: $spacing-inline-sm;
    padding-right: $spacing-inline-sm;
  }

  &--lg {
    font-size: $font-size-sm;
    height: 56px;
    min-width: 148px;
    padding-left: $spacing-inline-md;
    padding-right: $spacing-inline-md;
  }

  &--primary {
    background-color: $color-brand-primary-pure;
    color: $color-interface-light-pure;

    &:hover {
      background-color: $color-brand-primary-down;
    }

    &:focus {
      background-color: $color-brand-primary-down;
    }

    &:active {
      background-color: $color-brand-primary-deep;
    }
  }

  &--primary-critical {
    background-color: $color-status-negative-pure;
    color: $color-interface-light-pure;

    &:hover {
      background-color: $color-status-negative-down;
    }

    &:focus {
      background-color: $color-status-negative-down;
    }

    &:active {
      background-color: $color-status-negative-deep;
    }
  }

  &--primary-warning {
    background-color: $color-status-warning-deep;
    color: $color-interface-light-pure;

    &:hover {
      background-color: $color-status-warning-pure;
    }

    &:focus {
      background-color: $color-status-warning-pure;
    }

    &:active {
      background: linear-gradient(
          0deg,
          rgba($color-interface-dark-pure, 0.12) 0%,
          rgba($color-interface-dark-pure, 0.12) 100%
        ),
        $color-status-warning-deep;
      border-radius: 500px;
    }
  }

  &--secondary {
    background-color: $color-interface-light-up;
    color: $color-brand-primary-pure;

    &:hover {
      background-color: $color-interface-light-down;
    }

    &:focus {
      background-color: $color-interface-light-down;
    }

    &:active {
      background-color: $color-interface-dark-up;
    }
  }

  &--secondary-critical {
    background-color: $color-status-negative-up;
    color: $color-status-negative-pure;

    &:hover {
      background: linear-gradient(
          0deg,
          rgba($color-status-negative-deep, 0.08) 0%,
          rgba($color-status-negative-deep, 0.08) 100%
        ),
        $color-status-negative-up;
    }

    &:focus {
      background: linear-gradient(
          0deg,
          rgba($color-status-negative-deep, 0.08) 0%,
          rgba($color-status-negative-deep, 0.08) 100%
        ),
        $color-status-negative-up;
    }

    &:active {
      background: linear-gradient(
          0deg,
          rgba($color-status-negative-deep, 0.16) 0%,
          rgba($color-status-negative-deep, 0.16) 100%
        ),
        $color-status-negative-up;
    }
  }

  &--secondary-warning {
    background-color: $color-status-warning-up;
    color: $color-status-warning-deep;

    &:hover {
      background: linear-gradient(
          0deg,
          rgba($color-status-warning-deep, 0.08) 0%,
          rgba($color-status-warning-deep, 0.08) 100%
        ),
        $color-status-warning-up;
    }

    &:focus {
      background: linear-gradient(
          0deg,
          rgba($color-status-warning-deep, 0.08) 0%,
          rgba($color-status-warning-deep, 0.08) 100%
        ),
        $color-status-warning-up;
    }

    &:active {
      background: linear-gradient(
          0deg,
          rgba($color-status-warning-deep, 0.16) 0%,
          rgba($color-status-warning-deep, 0.16) 100%
        ),
        $color-status-warning-up;
    }
  }

  &--tertiary,
  &--text,
  &--text-critical {
    background-color: transparent;

    &:hover {
      background-color: $color-interface-light-up;
    }

    &:focus {
      background-color: $color-interface-light-up;
    }

    &:active {
      background-color: $color-interface-light-down;
    }
  }

  &--tertiary,
  &--text {
    color: $color-brand-primary-pure;
  }

  &--text-critical {
    color: $color-status-negative-pure;
  }

  &--tertiary-critical {
    background-color: transparent;
    color: $color-status-negative-pure;

    &:hover {
      background: linear-gradient(
          0deg,
          rgba($color-status-negative-deep, 0.08) 0%,
          rgba($color-status-negative-deep, 0.08) 100%
        ),
        $color-status-negative-up;
    }

    &:focus {
      background: linear-gradient(
          0deg,
          rgba($color-status-negative-deep, 0.08) 0%,
          rgba($color-status-negative-deep, 0.08) 100%
        ),
        $color-status-negative-up;
    }

    &:active {
      background: linear-gradient(
          0deg,
          rgba($color-status-negative-deep, 0.16) 0%,
          rgba($color-status-negative-deep, 0.16) 100%
        ),
        $color-status-negative-up;
    }
  }

  &--tertiary-warning {
    background-color: transparent;
    color: $color-status-warning-deep;

    &:hover {
      background-color: $color-status-warning-up;
    }

    &:focus {
      background-color: $color-status-warning-up;
    }

    &:active {
      background: linear-gradient(
          0deg,
          rgba($color-status-warning-deep, 0.16) 0%,
          rgba($color-status-warning-deep, 0.16) 100%
        ),
        $color-status-warning-up;
    }
  }

  &--text-tertiary,
  &--text-tertiary-critical {
    background-color: transparent;
    min-width: auto;
    padding-left: 0;
    padding-right: 0;
  }

  &--text-tertiary {
    color: $color-brand-primary-pure;

    &:hover {
      color: $color-brand-primary-down;
    }

    &:focus {
      color: $color-brand-primary-down;
    }

    &:active {
      color: $color-brand-primary-deep;
    }
  }

  &--text-tertiary-critical {
    color: $color-status-negative-pure;

    &:hover {
      color: $color-status-negative-down;
    }

    &:focus {
      color: $color-status-negative-down;
    }

    &:active {
      color: $color-status-negative-deep;
    }
  }

  &--inverse {
    background-color: $color-complementary-pure;
    color: $color-interface-light-pure;

    &:hover {
      background-color: $color-complementary-down;
    }

    &:focus {
      background-color: $color-complementary-down;
    }

    &:active {
      background-color: $color-complementary-deep;
    }
  }

  &--blocked {
    width: 100%;
  }

  &--loading {
    .ods-progress {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: center;
      margin: auto;
      width: 100%;
    }

    > span {
      display: block;
      height: 0;
      visibility: hidden;
    }
  }

  &:disabled,
  &:disabled &:hover {
    background-color: $color-interface-light-up;
    color: $color-interface-dark-up;
    cursor: not-allowed;
  }

  &--tertiary:disabled,
  &--tertiary-critical:disabled,
  &--text:disabled,
  &--text-critical:disabled,
  &--text-tertiary:disabled,
  &--text-tertiary-critical:disabled {
    background-color: transparent;
  }
}
