.ods-card-list-item {
  align-items: center;
  border: $border-width-hairline solid $color-interface-light-down;
  border-radius: $border-radius-md;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: $spacing-stack-xs;
  transition: 200ms;
  width: 320px;

  &__leading-icon {
    background-color: $color-interface-light-up;
    border-radius: 50%;
    box-sizing: content-box;
    color: $color-brand-primary-down;
    height: $font-size-md;
    padding: $spacing-stack-xxs;
    transition: 200ms;
    width: $font-size-md;

    svg {
      height: $font-size-md;
      width: $font-size-md;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__title {
      color: $color-interface-dark-pure;
      font-family: $font-family-base;
      font-size: $font-size-xs;
      font-weight: $font-weight-regular;
      line-height: $line-height-comfy;
    }

    &__description {
      color: $color-interface-dark-down;
      font-family: $font-family-base;
      font-size: $font-size-xxs;
      font-weight: $font-weight-regular;
      line-height: $line-height-comfy;
    }

    &__caption {
      color: $color-interface-dark-down;
      font-family: $font-family-base;
      font-size: $font-size-xxxs;
      font-weight: $font-weight-regular;
      line-height: $line-height-comfy;
      margin-top: $spacing-inset-xxs;
    }
  }

  &__action {
    background-color: transparent;
    color: $color-interface-dark-up;
    height: $font-size-sm;
    width: $font-size-sm;

    &:hover {
      background-color: transparent;
    }

    svg {
      height: $font-size-sm;
      width: $font-size-sm;
    }
  }

  &:hover:not(.ods-card-list-item--disabled) {
    background-color: $color-interface-light-up;

    &:not(.ods-card-list-item--size-small) .ods-card-list-item__leading-icon {
      background-color: rgba(184, 195, 255, 0.16);
    }
  }

  &--disabled {
    cursor: not-allowed;

    .ods-card-list-item__content__title,
    .ods-card-list-item__content__description,
    .ods-card-list-item__content__caption {
      color: $color-interface-dark-up;
    }

    .ods-card-list-item__leading-icon,
    .ods-card-list-item__action {
      color: $color-interface-light-deep;
    }
  }

  &--size-small {
    .ods-card-list-item__content__title {
      font-size: $font-size-xxs;
    }

    .ods-card-list-item__content__description {
      font-size: $font-size-xxxs;
    }

    .ods-card-list-item__leading-icon {
      background-color: transparent;
      padding: 0;
    }
  }

  &--full-width {
    width: 100%;
  }
}
