.ods-carousel-and-buttons {
  align-items: center;
  display: flex;
  justify-content: center;
}

.ods-carousel-and-buttons button {
  background-color: transparent;
  border: 0;

  > * {
    align-self: center;
    background: $color-interface-light-pure;
    border: $border-width-hairline solid $color-interface-light-deep;
    border-radius: 100%;
    color: $color-brand-primary-pure;
  }
}

.ods-carousel-container {
  align-items: center;
  display: flex;
  height: 200px;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 100%;
}

.ods-carousel-container::-webkit-scrollbar {
  display: none;
}

.ods-carousel-item-maxPerSection {
  flex: none;

  &--1 {
    min-width: 100%;
  }

  &--2 {
    min-width: calc(50% - 8px);
  }

  &--3 {
    min-width: calc(33.33% - 10px);
  }

  &--4 {
    min-width: calc(25% - 12px);
  }

  &--5 {
    min-width: calc(20% - 13px);
  }
}

.ods-carousel-item-maxPerSection:not(:first-child) {
  margin-left: 16px;
}

.ods-carousel-example {
  align-items: center;
  background: linear-gradient(to right, red, yellow);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ods-carousel-pagination-container {
  display: flex;
  gap: 4px;
  justify-content: space-between;
  margin: auto;
  width: 80px;
}

.ods-carousel-page {
  background-color: $color-interface-light-deep;
  border-radius: 100%;
  cursor: pointer;
  height: 4px;
  width: 4px;

  &-active {
    background-color: $color-brand-primary-pure;
  }
}
