.ods-card-group {
  border: 1px solid $color-interface-light-down;
  border-radius: $border-radius-sm;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  width: 100%;

  &--header {
    border: hidden;
    border-bottom: 1px solid $color-interface-light-down;
    border-radius: 0;
  }

  &__header {
    align-items: center;
    display: flex;
    gap: $spacing-inline-xs;
    height: 100%;
    justify-content: space-between;
    padding: $spacing-inline-xs;
    position: relative;

    &--content {
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: $spacing-stack-xxxs;
    }

    .container-line {
      display: flex;
      justify-content: space-between;
    }

    .container-line > .ods-tag {
      height: fit-content;
    }
  }

  &__action {
    align-items: center;
    background-color: $color-interface-light-pure;
    border: hidden;
    border-radius: 0 0 7px 7px;
    box-sizing: border-box;
    color: $color-brand-primary-pure;
    display: flex;
    gap: $spacing-inline-xs;
    justify-content: space-between;
    max-height: $spacing-inline-xl;
    padding: 14px $spacing-inline-xxs 14px $spacing-inline-xs;
    width: 100%;

    &--label {
      font-family: $font-family-base;
      font-size: $font-size-xxs;
      font-weight: $font-weight-bold;
      line-height: 15.4px;
    }

    &--right {
      align-items: center;
      display: flex;
      gap: $spacing-inline-xxxs;
    }

    &:hover,
    &:focus {
      background-color: $color-interface-light-up;
      cursor: pointer;
    }

    &:active {
      background-color: $color-interface-light-down;
    }
  }
}
