@mixin default-line {
  animation: pulse 1.5s infinite ease-in-out;
  background-color: $color-interface-light-up;
  border-radius: $border-radius-tiny;
}

.ods-card-list-item {
  align-items: center;
  border: $border-width-hairline solid $color-interface-light-down;
  border-radius: $border-radius-sm;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: $spacing-inline-xxs-extra;
  padding: $spacing-stack-xs $spacing-inline-xxs-extra $spacing-stack-xs
    $spacing-stack-xs;
  position: relative;
  transition: 200ms;
  width: 320px;

  &__leading-icon {
    svg {
      color: $color-brand-primary-down;
      height: $spacing-stack-sm;
      width: $spacing-stack-sm;
    }
  }

  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: $spacing-inline-xxs;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__title {
      color: $color-interface-dark-pure;
      font-family: $font-family-base;
      font-size: $font-size-xs;
      font-weight: $font-weight-regular;
      line-height: $line-height-comfy;
    }

    &__description {
      color: $color-interface-dark-down;
      font-family: $font-family-base;
      font-size: $font-size-xxs;
      font-weight: $font-weight-regular;
      line-height: $line-height-comfy;
    }

    &__caption {
      color: $color-interface-dark-down;
      font-family: $font-family-base;
      font-size: $font-size-xxxs;
      font-weight: $font-weight-medium;
      line-height: $line-height-comfy;
      margin-top: $spacing-inline-xxs;
    }
  }

  &__action {
    align-items: center;
    background-color: transparent;
    color: $color-interface-dark-up;
    display: flex;
    height: $spacing-stack-md;
    justify-content: center;
    width: $spacing-inline-md;

    &:hover {
      background-color: transparent;
    }

    svg {
      height: $font-size-sm;
      width: $font-size-sm;
    }
  }

  &:hover:not(.ods-card-list-item--disabled, .ods-card-list-item--loading) {
    background-color: $color-interface-light-up;
  }

  &--disabled {
    cursor: not-allowed;

    .ods-card-list-item__content__title,
    .ods-card-list-item__content__description,
    .ods-card-list-item__content__caption {
      color: $color-interface-dark-up;
    }

    .ods-card-list-item__leading-icon,
    .ods-card-list-item__action {
      color: $color-interface-light-deep;
    }
  }

  &--size-small {
    .ods-card-list-item__content__title {
      font-size: $font-size-xxs;
    }

    .ods-card-list-item__content__description {
      font-size: $font-size-xxxs;
    }

    .ods-card-list-item__leading-icon {
      background-color: transparent;
      padding: 0;
    }

    .ods-card-list-item__lines {
      margin-left: 0;
    }

    .ods-card-list-item__circle {
      height: 20px;
      min-height: 20px;
      min-width: 20px;
      width: 20px;
    }

    .ods-card-list-item__lines__line2 {
      width: 87px;
    }

    .ods-card-list-item__lines__line2 {
      width: 260px;
    }
  }

  &--full-width {
    width: 100%;
  }

  &__circle {
    animation: pulse 1.5s infinite ease-in-out;
    background-color: $color-interface-light-up;
    border-radius: 50%;
    height: $spacing-stack-lg;
    width: $spacing-stack-lg;
  }

  &__lines {
    display: flex;
    flex-direction: column;
    gap: $spacing-inline-xxs;
    margin-left: $spacing-inline-xxxs;

    &__line1 {
      @include default-line;
      height: 16px;
      width: 80px;
    }

    &__line2 {
      @include default-line;
      height: 16px;
      width: 236px;
    }

    &__line3 {
      @include default-line;
      height: 16px;
      width: 118px;
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
