.ods-chip {
  height: 32px;
  position: relative;

  .ods-badge__content {
    background-color: $color-interface-light-pure;
    color: $color-brand-primary-pure;
    margin-left: $spacing-inline-xxxs;
  }

  &__button {
    align-items: center;
    display: flex;
    font-family: $font-family-base;
    font-size: $font-size-xxs;
    font-weight: $font-weight-bold;
    height: 32px;
    line-height: 21px;
    margin-right: $spacing-inline-xxs;
    min-width: 0px;
    padding: 4px 12px;
    width: auto;

    &.active {
      background-color: $color-brand-primary-pure;
      color: $color-interface-light-pure;
    }

    &.active:hover {
      background-color: $color-brand-primary-down;
      color: $color-interface-light-pure;
    }

    &.active:disabled {
      background-color: $color-interface-light-down;
      color: $color-interface-dark-up;
    }

    @media (max-width: 767px) {
      white-space: nowrap;
    }
  }

  &__lefticon {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: $spacing-inline-xxxs;
  }

  &__badge > .ods-badge__content {
    background-color: $color-brand-primary-pure;
    color: $color-interface-light-pure;
  }

  &__badge-disabled > .ods-badge__content {
    background-color: $color-interface-dark-up;
    color: $color-interface-light-up;
  }

  &__arrow {
    transition: all 0.1s ease;
  }

  &__arrow-open {
    transform: rotateZ(-180deg);
  }

  &__dropdown {
    background-color: $color-interface-light-pure;
    border: 1px solid $color-interface-light-down;
    border-radius: $border-radius-md;
    box-shadow: $shadow-level-2;
    left: 0;
    position: absolute;
    top: calc($spacing-inline-md + $spacing-inline-xxxs);
    min-width: 100%;
    z-index: 99999;

    @media (max-width: 767px) {
      border-radius: 0;
      border-top-left-radius: $border-radius-lg;
      border-top-right-radius: $border-radius-lg;
      bottom: 0;
      position: fixed;
      right: 0;
      top: inherit;
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: transparent;
    transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    z-index: -1;
    visibility: hidden;

    @media (max-width: 767px) {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }

  &__overlay-open {
    opacity: 1;
    z-index: 10;
    visibility: visible;
  }
}
