.ods-chip {
  height: 32px;
  position: relative;

  &__button {
    align-items: center;
    display: flex;
    font-family: $font-family-base;
    font-size: $font-size-xxs;
    font-weight: $font-weight-bold;
    height: 32px;
    line-height: 21px;
    margin-right: $spacing-inline-xxs;
    min-width: 0px;
    padding: 4px 12px;
    width: auto;

    &.active {
      background-color: $color-brand-primary-pure;
      color: $color-interface-light-pure;
    }

    @media (max-width: 767px) {
      white-space: nowrap;
    }
  }

  &__lefticon {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: $spacing-inline-xxxs;
  }

  &__badge > .ods-badge__content {
    background-color: $color-brand-primary-pure;
    color: $color-interface-light-pure;
  }
}

.ods-badge__content {
  background-color: $color-interface-light-pure;
  color: $color-brand-primary-pure;
  margin-left: $spacing-inline-xxxs;
}
