.ods-contextual-menu {
  align-items: flex-start;
  background-color: $color-interface-light-pure;
  border: 1px solid $color-interface-light-down;
  border-radius: $border-radius-sm;
  box-shadow: $shadow-level-1;

  display: flex;
  flex-direction: column;
  gap: $spacing-inline-xxxs;
  left: 0;
  list-style: none;
  margin: 0;
  min-width: 264px;
  padding: $spacing-inline-xxxs;
  position: absolute;
  scrollbar-width: none;
  top: auto;
  z-index: 1000;

  @include media-breakpoint-down(md) {
    border-radius: 0;
    border-top-left-radius: $border-radius-lg;
    border-top-right-radius: $border-radius-lg;
    bottom: 0;
    left: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0 $spacing-inline-xxxs $spacing-inline-xxxs $spacing-inline-xxxs;
    position: fixed;
    right: 0;
    transform: none;
    transition: max-height 150ms linear;
    z-index: 1000;
  }

  &--after-open {
    max-height: 300px;
    overflow: auto;
    scrollbar-color: $color-interface-dark-up $color-interface-light-pure;
    scrollbar-width: thin;

    @include media-breakpoint-down(md) {
      max-height: 80%;
      scrollbar-width: none;
      transition: max-height 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &--before-close {
    @include media-breakpoint-up(lg) {
      display: none;
    }

    @include media-breakpoint-down(md) {
      max-height: 0;
      transition: max-height 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__item {
    width: 100%;
  }
}

.ods-contextual-menu__header {
  background-color: $color-interface-light-pure;
  display: none;
  justify-content: flex-end;
  list-style: none;
  padding: $spacing-inline-xxs $spacing-inline-xxxs 0 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;

  @include media-breakpoint-down(md) {
    display: flex;
  }

  .ods-icon-btn--sm {
    @include media-breakpoint-down(md) {
      color: $color-interface-dark-up;
      height: 32px;
      min-width: 32px;
      width: 32px;
    }

    &:hover {
      background: transparent;
    }
  }
}

.ods-contextual-menu__overlay {
  display: none;

  @include media-breakpoint-down(md) {
    background: rgba($color-interface-dark-deep, 0.4);
    bottom: 0;
    display: block;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 150ms linear;
    z-index: 999;

    &--after-open {
      opacity: 1;
    }

    &--before-close {
      display: none;
      opacity: 0;
      pointer-events: none;
    }
  }
}

.ods-contextual-menu__item__button {
  align-items: center;
  background: $color-interface-light-pure;
  border: hidden;
  border-radius: $border-radius-tiny;
  display: flex;
  justify-content: space-between;
  padding: $spacing-inline-xxs $spacing-inline-xxs-extra;
  width: 100%;

  &__content {
    align-items: center;
    display: flex;
    gap: $spacing-inline-xxs;
    justify-content: space-between;
    width: 100%;

    > svg {
      color: $color-interface-dark-up;
    }
  }

  &:hover {
    background: $color-interface-light-up;
    cursor: pointer;
  }

  &:active {
    background: $color-interface-light-up;
  }

  &:focus {
    background: $color-interface-light-up;
  }

  &--selected {
    background-color: $color-interface-light-up;

    .ods-typography__description {
      font-weight: $font-weight-bold;
    }
  }

  &--primary {
    .ods-typography__description {
      color: $color-brand-primary-pure;
    }
  }

  &--neutral {
    .ods-typography__description {
      color: $color-interface-dark-down;
    }
  }

  &--critical {
    .ods-typography__description {
      color: $color-status-negative-pure;
    }
  }

  &:disabled,
  &--blocked {
    .ods-typography__description {
      color: $color-interface-dark-up;
    }

    &:hover,
    &:active,
    &:focus {
      background: $color-interface-light-pure;
      cursor: not-allowed;
    }
  }

  &--with-icon {
    gap: $spacing-inline-xxs;
    justify-content: flex-start;
  }
}

.ods-contextual-menu__item__button__icon {
  align-items: center;
  display: flex;
  justify-content: center;

  &--primary {
    svg {
      fill: $color-brand-primary-pure;
    }
  }

  &--neutral {
    svg {
      fill: $color-interface-dark-down;
    }
  }

  &--critical {
    svg {
      fill: $color-status-negative-pure;
    }
  }

  &--blocked,
  &--disabled {
    svg {
      fill: $color-interface-dark-up;
    }
  }

  svg {
    height: 16px;
    width: 16px;
  }
}
