.ods-content-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;

  .ods-typography__paragraph {
    color: $color-interface-dark-deep;
  }

  .ods-typography__description {
    color: $color-interface-dark-down;
  }

  .ods-typography__captionbold {
    color: $color-interface-dark-down;
    margin-top: $spacing-inline-xxxs;
  }

  .ods-typography__paragraph--inactive {
    color: $color-interface-dark-up;
  }

  .ods-typography__paragraph--positive {
    color: $color-status-positive-deep;
  }

  .ods-typography__paragraph--warning {
    color: $color-status-warning-deep;
  }

  .ods-typography__paragraph--highlight {
    color: $color-interface-dark-deep;
    font-weight: $font-weight-bold;
  }

  .ods-typography__paragraph--highlight-lead {
    color: $color-interface-dark-deep;
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
  }

  .ods-typography__paragraph--strikethrough {
    color: $color-status-positive-deep;
  }

  .ods-typography__paragraph--strikethrough-text {
    color: $color-interface-dark-up;
    margin-right: $spacing-inline-xxxs;
    text-decoration: line-through;
  }
}
