.ods-cross-sell-card {
  border-radius: $border-radius-md;
  cursor: pointer;
  min-height: 156px;
  width: 100%;

  &:hover {
    .ods-cross-sell-card__content {
      background-color: $color-brand-primary-deep;
    }

    .ods-cross-sell-card__cta {
      background: $color-interface-light-up;
    }
  }

  &__content {
    align-items: center;
    background-color: $color-brand-primary-pure;
    border: $border-width-hairline solid $color-interface-light-down;
    border-bottom: 0;
    border-radius: $border-radius-md $border-radius-md 0 0;
    display: flex;
    gap: $spacing-inline-xs;
    justify-content: center;
    padding: $spacing-squish-md;
    transition: background 0.1s ease-in;

    @include media-breakpoint-down(lg) {
      padding: $spacing-inset-sm;
    }
  }

  &__information {
    width: 100%;
  }

  &__image {
    min-height: 102px;
    width: 102px;
    @include media-breakpoint-down(lg) {
      min-height: 80px;
      width: 80px;
    }
  }

  &__description {
    color: $color-brand-primary-up;
    margin-top: $spacing-stack-xxxs;
  }

  &__cta {
    align-items: center;
    background: $color-interface-light-pure;
    border: $border-width-hairline solid $color-interface-light-down;
    border-radius: 0 0 $border-radius-md $border-radius-md;
    border-top: 0;
    color: $color-brand-primary-pure;
    display: flex;
    font-family: $font-family-base;
    font-size: $font-size-xxs;
    font-weight: $font-weight-bold;
    gap: $spacing-inline-xxs;
    height: 48px;
    justify-content: space-between;
    padding-left: $spacing-inline-sm;
    padding-right: $spacing-inline-sm;
    transition: background 0.1s ease-in;
    width: 100%;

    @include media-breakpoint-down(lg) {
      padding-left: $spacing-inline-xs;
      padding-right: $spacing-inline-xs;
    }

    &:hover {
      background: $color-interface-light-up;
      cursor: pointer;
    }

    &:active {
      background: $color-interface-light-down;
    }

    &:focus-visible {
      outline: $color-brand-primary-pure auto $border-width-hairline;
    }

    &-icon svg {
      color: $color-brand-primary-pure;
    }
  }
}
