.ods-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;

  &--open {
    opacity: 1;
    z-index: 200;
    visibility: visible;
  }
}

.ods-drawer {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  left: auto;

  height: 100%;
  width: 378px;
  outline: 0;
  flex-shrink: 0;

  background-color: $color-interface-light-pure;
  visibility: hidden;
  transition: all 335ms ease-out 0ms;
  transform: translateX(100%);

  &--open {
    visibility: visible;
    z-index: 400;
    transform: translateX(0);
    transition: all 200ms ease-out 0ms;

    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2),
      0px 16px 24px 2px rgba(0, 0, 0, 0.14),
      0px 6px 30px 5px rgba(0, 0, 0, 0.12);

    @include media-breakpoint-down(sm) {
      cursor: default;
      width: -webkit-fill-available;
    }
  }
}

.ods-drawer__content--header {
  display: flex;
  height: 48px;
  padding: 0 24px;

  &--left {
    justify-content: flex-start;
  }

  &--right {
    justify-content: flex-end;
  }

  & .ods-btn--primary {
    background: transparent;
    border: 0;
    color: $color-interface-dark-up;
    cursor: pointer;

    min-width: 0px;
    height: 100%;
    padding: 0;

    @include media-breakpoint-down(sm) {
      cursor: default;
    }

    &:hover {
      background-color: $color-interface-light-pure;
    }
  }
}
