.ods-drawer {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  left: auto;

  height: 100%;
  width: 378px;
  outline: 0;
  flex-shrink: 0;

  background-color: $color-interface-light-pure;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  visibility: hidden;
  transform: translateX(100%);
  transition: 325ms cubic-bezier(0, 0, 0.2, 1) 0ms;

  &--open {
    visibility: visible;
    z-index: 400;
    transform: translateX(0);

    transition: none;
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2),
      0px 16px 24px 2px rgba(0, 0, 0, 0.14),
      0px 6px 30px 5px rgba(0, 0, 0, 0.12);

    @include media-breakpoint-down(md) {
      cursor: default;
      width: -webkit-fill-available;
    }
  }
}

.ods-drawer_backdrop {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;

  &--open {
    opacity: 1;
    z-index: 200;
    visibility: visible;
  }
}

.ods-drawer_content--header {
  display: flex;
  height: 48px;
  padding: 0 24px;

  &--left {
    justify-content: flex-start;
  }

  &--right {
    justify-content: flex-end;
  }

  & .ods-btn--primary {
    background: transparent;
    border: 0;
    color: $color-interface-dark-up;
    cursor: pointer;

    min-width: 0px;
    height: 100%;
    padding: 0;

    @include media-breakpoint-down(md) {
      cursor: default;
    }

    &:hover {
      background-color: $color-interface-light-pure;
    }
  }
}
