.ods-link {
  cursor: pointer;
  font-family: $font-family-base;
  font-weight: $font-weight-medium;
  line-height: $line-height-tight;

  &--sm {
    font-size: $font-size-xxs;
  }

  &--md {
    font-size: $font-size-xs;
  }

  &--primary {
    color: $color-brand-primary-pure;

    &:hover {
      color: $color-brand-primary-down;
      text-decoration: underline;
    }
  }

  &--inverse {
    color: $color-complementary-down;

    &:hover {
      color: $color-complementary-up;
      text-decoration: underline;
    }
  }

  &--neutral {
    color: $color-interface-dark-down;

    &:hover {
      color: $color-brand-primary-down;
      text-decoration: underline;
    }
  }

  &--with-icon {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  svg {
    margin-left: $spacing-inline-xxxs;
  }
}
