@use 'sass:math';

.ods-transaction-list-item__icon {
  align-items: center;
  color: $color-interface-dark-up;
  display: flex;
  justify-content: center;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.ods-transaction-list-item {
  background-color: $color-interface-light-pure;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 100%;

  &:hover,
  &:focus {
    background-color: $color-interface-light-up;
  }

  &:active {
    background-color: $color-interface-light-deep;
  }

  &.ods-transaction-list-item--readonly {
    pointer-events: none;

    &:hover {
      background-color: inherit;
    }
  }

  &--chevron {
    .ods-transaction-list-item__content {
      padding: $spacing-stack-xs $spacing-stack-xxs $spacing-stack-xs
        $spacing-stack-xs;
    }
  }

  &--readonly {
    .ods-transaction-list-item__content {
      padding: $spacing-stack-xs;
    }
  }

  &--isloading {
    pointer-events: none;
  }

  &--isloading .ods-transaction-list-item__content {
    &:hover,
    &:focus {
      background-color: $color-interface-light-pure;
    }
  }

  .ods-transaction-list-item__sub-itens {
    .ods-transaction-list-item {
      background-color: transparent;
    }

    .ods-transaction-list-item__level1 {
      color: $color-interface-dark-down;
      font-family: $font-family-base;
      font-size: 16px;
      font-weight: 400;
    }

    .ods-transaction-list-item__icon {
      background-color: transparent;
    }

    &:hover .ods-transaction-list-item__icon,
    &:focus .ods-transaction-list-item__icon {
      background-color: transparent;
    }

    &:active .ods-transaction-list-item__icon {
      background-color: transparent;
    }
  }
}

.ods-transaction-list-item__sub-itens {
  .ods-transaction-list-item .ods-transaction-list-item__content {
    padding: math.div($spacing-stack-xs, 2) $spacing-stack-xs;
  }

  &:last-of-type {
    .ods-transaction-list-item .ods-transaction-list-item__content {
      padding-bottom: $spacing-stack-xs;
    }
  }
}

.ods-transaction-list-item__content {
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: $spacing-stack-xs;
  width: 100%;
}

.ods-transaction-list-item__information,
.ods-transaction-list-item__sub-information {
  > *:last-child {
    margin-bottom: 0;
  }
}

.ods-transaction-list-item__information {
  margin: 0 $spacing-inline-xs 0 12px;
  overflow: hidden;
  width: 100%;

  @include media-breakpoint-down(sm) {
    margin: 0 $spacing-inline-xxs 0 0;
  }
}

.ods-transaction-list-item__sub-information {
  text-align: right;
}

.ods-transaction-list-item__level1 {
  color: $color-interface-dark-pure;
  font-family: $font-family-base;
  font-size: $font-size-xs;
  font-weight: $font-weight-regular;
  margin-bottom: $spacing-inline-xxxs;
}

.ods-transaction-list-item__level2 {
  color: $color-interface-dark-down;
  font-family: $font-family-base;
  font-size: $font-size-xxs;
  font-weight: $font-weight-regular;
  line-height: 15px;
  margin-bottom: $spacing-inline-xxs;
}

.ods-transaction-list-item__level1,
.ods-transaction-list-item__level2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  @include media-breakpoint-down(sm) {
    @include line-clamp(2);
  }
}

.ods-transaction-list-item__level3 {
  color: $color-interface-dark-down;
  font-family: $font-family-base;
  font-size: $font-size-xxxs;
  font-weight: $font-weight-medium;
}

.ods-transaction-list-item__level4 {
  color: $color-brand-primary-deep;
  font-family: $font-family-base;
  font-size: $font-size-xxxs;
  font-weight: $font-weight-medium;
  margin-bottom: $spacing-inline-xxs;
}

.ods-transaction-list-item__value {
  color: $color-interface-dark-pure;
  font-family: $font-family-base;
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
  margin-bottom: $spacing-inline-xxxs;
  white-space: nowrap;

  @include media-breakpoint-down(sm) {
    font-size: $font-size-xxs;
  }

  &--positive {
    color: $color-status-positive-deep;
  }
}

.ods-transaction-list-item__tags {
  column-gap: $spacing-stack-xxxs;
  display: flex;
  justify-content: flex-end;
  margin-bottom: $spacing-inline-xxxs;
}

.ods-transaction-list-item__time {
  color: $color-interface-dark-up;
  font-family: $font-family-base;
  font-size: $font-size-xxxs;
  font-weight: $font-weight-medium;
}

.ods-transaction-list-item__chevron {
  color: $color-interface-dark-up;
  margin-left: 12px;
  min-height: 20px;
  min-width: 20px;

  @include media-breakpoint-down(sm) {
    margin-left: $spacing-inline-xxs;
  }
}
