@use 'sass:math';

.ods-transaction-list-item__icon {
  align-items: center;
  background-color: $color-interface-light-up;
  border-radius: 40px;
  color: $color-interface-dark-up;
  display: flex;
  height: 40px;
  justify-content: center;
  min-width: 40px;
  width: 40px;

  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.ods-transaction-list-item {
  background-color: $color-interface-light-pure;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 100%;

  &:hover,
  &:focus {
    background-color: $color-interface-light-up;

    .ods-transaction-list-item__icon {
      background-color: $color-interface-light-down;
    }
  }

  &:active {
    background-color: $color-interface-light-deep;

    .ods-transaction-list-item__icon {
      background-color: $color-interface-light-down;
    }
  }

  .ods-transaction-list-item__sub-itens {
    .ods-transaction-list-item {
      background-color: transparent;
    }

    .ods-transaction-list-item__level1 {
      color: $color-interface-dark-down;
      font-family: $font-family-base;
      font-size: 16px;
      font-weight: 400;
    }

    .ods-transaction-list-item__icon {
      background-color: transparent;
    }

    &:hover .ods-transaction-list-item__icon,
    &:focus .ods-transaction-list-item__icon {
      background-color: transparent;
    }

    &:active .ods-transaction-list-item__icon {
      background-color: transparent;
    }
  }
}

.ods-transaction-list-item__sub-itens {
  .ods-transaction-list-item .ods-transaction-list-item__content {
    padding: math.div($spacing-stack-xs, 2) $spacing-stack-xs;
  }

  &:last-of-type {
    .ods-transaction-list-item .ods-transaction-list-item__content {
      padding-bottom: $spacing-stack-xs;
    }
  }
}

.ods-transaction-list-item__content {
  align-items: center;
  box-sizing: border-box;
  column-gap: $spacing-stack-xs;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: $spacing-stack-xs;
  width: 100%;
}

.ods-transaction-list-item__information,
.ods-transaction-list-item__sub-information {
  > *:last-child {
    margin-bottom: 0;
  }
}

.ods-transaction-list-item__information {
  width: 100%;
}

.ods-transaction-list-item__sub-information {
  text-align: right;
}

.ods-transaction-list-item__level1 {
  color: $color-interface-dark-deep;
  font-family: $font-family-base;
  font-size: $font-size-xs;
  font-weight: $font-weight-medium;
  margin-bottom: $spacing-inline-xxxs;
}

.ods-transaction-list-item__level2 {
  color: $color-interface-dark-down;
  font-family: $font-family-base;
  font-size: 15px;
  font-weight: $font-weight-regular;
  margin-bottom: $spacing-inline-xxs;
  line-height: 15px;
  max-height: 30px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ods-transaction-list-item__level3 {
  color: $color-interface-dark-up;
  font-family: $font-family-base;
  font-size: $font-size-xxxs;
  font-weight: $font-weight-medium;
}

.ods-transaction-list-item__level4 {
  color: $color-brand-primary-deep;
  font-family: $font-family-base;
  font-size: $font-size-xxxs;
  font-weight: $font-weight-medium;
  margin-bottom: $spacing-inline-xxs;
}

.ods-transaction-list-item__value {
  color: $color-interface-dark-deep;
  font-family: $font-family-base;
  font-size: $font-size-xs;
  font-weight: $font-weight-bold;
  margin-bottom: $spacing-inline-xxxs;
  white-space: nowrap;

  &--positive {
    color: $color-status-positive-deep;
  }
}

.ods-transaction-list-item__tags {
  column-gap: $spacing-stack-xxxs;
  display: flex;
  justify-content: flex-end;
  margin-bottom: $spacing-inline-xxxs;
}

.ods-transaction-list-item__time {
  color: $color-interface-dark-up;
  font-family: $font-family-base;
  font-size: $font-size-xxxs;
  font-weight: $font-weight-medium;
}
