.ods-list {
  background: $color-interface-light-pure;
  border: 1px solid $color-interface-light-down;
  border-radius: 8px;
  box-sizing: border-box;
  overflow: hidden;

  .ods-transaction-list-item:not(:last-of-type) {
    border-bottom: 1px solid $color-interface-light-down;
  }

  .ods-transaction-list-item__sub-itens {
    .ods-transaction-list-item {
      border: 0;
    }
  }

  .ods-card-list-item,
  .ods-list-action__container,
  .ods-list-action,
  .ods-list-action__divider {
    border: 0;
    border-radius: 0;

    &:not(:last-of-type) {
      border-bottom: 1px solid $color-interface-light-down;
    }
  }
}
