.ods-list-container {
  width: 100%;

  &__content {
    overflow: hidden;
  }

  &__content--card {
    border: $border-width-hairline solid $color-interface-light-down;
    border-radius: $border-radius-sm;

    &--error {
      border-color: $color-status-negative-pure;
    }
  }

  &__content__divider {
    @include list-divider-blend;

    border-bottom: 1px solid $color-interface-light-down;
    margin: -1px $spacing-inline-xs 0;
    pointer-events: none;
    position: relative;
  }

  &__highlight {
    border-radius: 0 0 $border-radius-sm $border-radius-sm;
    margin-top: -8px;
    padding: 18px $spacing-inline-xs 10px;
  }
}
