.ods-list-container {
  width: 100%;

  &__content {
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  &__content--card {
    border: $border-width-hairline solid $color-interface-light-deep;
    border-radius: $border-radius-sm;

    &--error {
      border-color: $color-status-negative-pure;
    }
  }

  &__content__divider {
    border-bottom: 1px solid $color-interface-light-down;
    margin: 0 $spacing-inline-xs;
  }

  &__highlight {
    border-radius: 0 0 $border-radius-sm $border-radius-sm;
    margin-top: -8px;
    padding: 18px $spacing-inline-xs 10px;
  }
}
