.ods-loading {
  svg {
    animation: ods-loading-animation 0.8s linear infinite;
  }

  @keyframes ods-loading-animation {
    0% {
      transform: rotate(0deg);
    }
    90% {
      transform: rotate(340deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
