.ods-progress {
  &--indeterminate {
    svg {
      animation: ods-loading-animation 0.8s linear infinite;
    }

    svg circle {
      stroke: $color-brand-primary-up;
    }

    svg path {
      stroke: $color-brand-primary-pure;
    }
  }

  &--determinate {
    .ods-progress__track {
      stroke: $color-brand-primary-up;
    }

    .ods-progress__fill {
      stroke: $color-brand-primary-pure;
      transition: stroke-dashoffset 0.3s ease;
    }
  }

  &--on-color {
    svg circle,
    .ods-progress__track {
      stroke: rgba(255, 255, 255, 0.4);
    }

    svg path,
    .ods-progress__fill {
      stroke: #fff;
    }
  }

  &--md,
  &--md svg {
    height: 24px;
    width: 24px;
  }

  &--sm,
  &--sm svg {
    height: 16px;
    width: 16px;
  }

  &--lg,
  &--lg svg {
    height: 32px;
    width: 32px;
  }

  @keyframes ods-loading-animation {
    0% {
      transform: rotate(0deg);
    }

    90% {
      transform: rotate(340deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
