.ods-progress {
  svg {
    animation: ods-loading-animation 0.8s linear infinite;
  }

  svg circle {
    stroke: $color-brand-primary-up;
  }

  svg path {
    stroke: $color-brand-primary-pure;
  }

  &--on-color {
    svg circle {
      stroke: #fff;
    }

    svg path {
      stroke: #fff;
    }
  }

  &--md svg {
    height: 24px;
    width: 24px;
  }

  &--sm svg {
    height: 16px;
    width: 16px;
  }

  &--lg svg {
    height: 32px;
    width: 32px;
  }

  @keyframes ods-loading-animation {
    0% {
      transform: rotate(0deg);
    }

    90% {
      transform: rotate(340deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
