.ods-search {
  align-items: center;
  background-color: $color-interface-light-pure;
  border: $border-width-hairline solid $color-interface-light-deep;
  border-radius: $border-radius-sm;
  display: flex;
  box-sizing: border-box;
  height: 46px;
  width: 100%;

  input {
    border: 0;
    border-radius: $border-radius-sm;
    box-sizing: border-box;
    color: $color-interface-dark-deep;
    font-size: $font-size-xs;
    font-weight: $font-weight-regular;
    height: 100%;
    line-height: $line-height-medium;
    outline: none;
    padding: 0 $spacing-inline-xxs;
    width: 100%;

    &::placeholder {
      color: $color-interface-light-deep;
      font-weight: $font-weight-regular;
    }
  }

  &:hover,
  &:focus,
  &:active,
  &:focus-within {
    border: $border-width-thin solid $color-brand-primary-down;
  }

  &--filled {
    border: $border-width-hairline solid $color-brand-primary-up;
  }

  &--disabled {
    background-color: $color-interface-light-down;
    background-color: $color-interface-light-up;
    border: $border-width-hairline solid $color-interface-light-up;
    color: $color-interface-light-deep;
    cursor: not-allowed;

    input {
      background-color: $color-interface-light-up;
      color: $color-interface-light-deep;
      cursor: not-allowed;
    }

    &:hover,
    &:focus,
    &:active {
      border: $color-interface-light-down;
    }
  }

  &__adornment {
    line-height: 0;
    padding-left: $spacing-inline-xs;

    svg {
      color: #d8dae8;
    }
  }

  &__adornment--focused > svg {
    color: $color-brand-primary-pure;
  }

  &__adornment--filled > svg {
    color: $color-brand-primary-down;
  }

  &__clean {
    color: $color-interface-dark-up;
    margin-right: 4px;

    &:hover {
      color: $color-brand-primary-pure;
    }
  }
}
