.ods-shortcut {
  align-items: flex-start;
  background-color: $color-interface-light-pure;
  border: $border-width-hairline solid $color-interface-light-down;
  border-radius: $border-radius-md;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: $spacing-inline-xs;

  &--tiny {
    width: 80px;

    & .ods-shortcut__content {
      gap: $spacing-inline-xxs;
    }
  }

  &--small {
    width: 116px;

    & .ods-shortcut__content {
      gap: $spacing-inline-xxs;
    }

    & .ods-shortcut__content__label {
      align-items: flex-end;
      display: flex;
      height: 40px;
    }
  }

  &--medium {
    width: 158px;
    gap: $spacing-inline-xxs;

    & .ods-shortcut__content {
      gap: $spacing-inline-xs;
    }
  }

  &--large {
    width: 200px;
    gap: 12px;

    & .ods-shortcut__content {
      align-items: center;
      flex-direction: row;
      gap: 12px;
    }
  }

  &__icon {
    color: $color-brand-primary-down;
    height: 24px;
    width: 24px;
  }

  &__content {
    display: flex;
    flex-direction: column;

    &__label {
      color: $color-interface-dark-deep;
      height: max-content;
      font-weight: 900;
    }

    &__description {
      font-size: $font-size-xxxs;
    }
  }
}
