.ods-snackbar {
  align-items: center;
  background: $color-interface-dark-deep;
  border-radius: $border-radius-sm;
  display: flex;
  min-height: 56px;
  position: fixed;
  width: 314px;
  z-index: 99999;

  @media (max-width: 767px) {
    left: initial;
    margin: 0;
    max-width: 100%;
    min-width: 91%;
    right: initial;
  }

  &__top-right {
    animation: 150ms ease-out forwards moveInDown;
    right: $font-size-xl;
    top: $font-size-xl;
  }

  &__top-left {
    animation: 150ms ease-out forwards moveInDown;
    left: $font-size-xl;
    top: $font-size-xl;
  }

  &__bottom-right {
    animation: 150ms ease-out forwards moveInUp;
    bottom: $font-size-xl;
    right: $font-size-xl;
  }

  &__bottom-left {
    animation: 150ms ease-out forwards moveInUp;
    bottom: $font-size-xl;
    left: $font-size-xl;
  }

  &__content {
    display: flex;
    max-width: 314px;
    padding: 12px $spacing-inline-xs;
    width: 314px;
    z-index: 1;
  }

  &__icon {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__icon-info {
    color: $color-brand-primary-up;
  }

  &__icon-positive {
    color: $color-status-positive-pure;
  }

  &__icon-negative {
    color: $color-status-negative-pure;
  }

  &__icon-warning {
    color: $color-status-neutral-pure;
  }

  &__label {
    color: $color-interface-light-pure;
    flex: 1;
    font-family: $font-family-base;
    font-size: $font-size-xxs;
    font-weight: $font-weight-regular;
    line-height: 21px;
    margin: 0;
    max-height: 42px;
    overflow: hidden;
    padding: 0 $spacing-inline-xs;
    text-overflow: ellipsis;
  }

  &__action {
    align-items: center;
    color: $color-status-positive-pure;
    cursor: pointer;
    display: flex;
    font-family: $font-family-base;
    font-size: $font-size-xxs;
    font-weight: $font-weight-bold;
    justify-content: center;
  }

  &__action-text-info {
    color: $color-brand-primary-up;
  }

  &__action-text-positive {
    color: $color-status-positive-pure;
  }

  &__action-text-negative {
    color: $color-status-negative-pure;
  }

  &__action-text-warning {
    color: $color-status-neutral-pure;
  }

  &__progress {
    background-color: $color-interface-dark-down;
    border-radius: $spacing-inset-xxs;
    height: 100%;
    opacity: $opacity-level-medium;
    position: absolute;
    width: 0;
  }

  &__progress-default {
    animation: 4s forwards progress;
  }

  &__progress-action {
    animation: 10s forwards progress;
  }
}

@keyframes moveInDown {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInUp {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes progress {
  0% {
    border-top-left-radius: $spacing-inline-xxxs;
    border-bottom-left-radius: $spacing-inline-xxxs;
    width: 0%;
  }

  100% {
    border-top-right-radius: $spacing-inline-xxxs;
    border-bottom-right-radius: $spacing-inline-xxxs;
    width: 100%;
  }
}
