.ods-sub-header {
  background-color: $color-interface-light-up;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  padding: $spacing-stack-xxs $spacing-stack-xs;
  width: 100%;
}

.ods-sub-header__subtitle,
.ods-sub-header__title {
  color: $color-interface-dark-down;
  font-family: $font-family-base;
  font-size: $font-size-xxxs;
  font-weight: $font-weight-regular;
  line-height: 150%;

  strong {
    font-weight: 900;
  }
}
