@use 'sass:math';

.ods-tag {
  align-items: center;
  background-color: $color-interface-light-up;
  border-radius: $border-radius-lg;
  color: $color-interface-dark-down;
  display: flex;
  font-family: $font-family-base;
  gap: $spacing-stack-xxxs;
  justify-content: left;
  width: fit-content;

  &--medium {
    font-size: $font-size-xxxs;
    font-weight: $font-weight-medium;
    line-height: $line-height-comfy;
    padding: math.div($spacing-stack-xxxs, 4) $spacing-stack-xxs;
  }

  &--small {
    font-size: 10px;
    font-weight: $font-weight-bold;
    line-height: $line-height-medium;
    padding: math.div($spacing-stack-xxxs, 1.6) $spacing-stack-xxxs;
  }

  &--negative {
    background-color: $color-status-negative-up;

    .ods-tag__icon {
      fill: $color-status-negative-pure;
    }

    .ods-tag__content {
      color: $color-status-negative-pure;
    }
  }

  &--warning {
    background-color: $color-status-warning-up;

    .ods-tag__icon {
      fill: $color-status-warning-deep;
    }

    .ods-tag__content {
      color: $color-status-warning-deep;
    }
  }

  &--positive {
    background-color: $color-status-positive-up;

    .ods-tag__icon {
      fill: $color-status-positive-deep;
    }

    .ods-tag__content {
      color: $color-status-positive-deep;
    }
  }

  &--neutral {
    background-color: $color-interface-light-up;

    .ods-tag__icon {
      fill: $color-interface-dark-up;
    }

    .ods-tag__content {
      color: $color-interface-dark-up;
    }
  }

  &--neutral-02 {
    background-color: $color-interface-light-up;

    .ods-tag__icon {
      fill: $color-brand-primary-down;
    }

    .ods-tag__content {
      color: $color-brand-primary-down;
    }
  }

  &--neutral-03 {
    background-color: #edfdfd;

    .ods-tag__icon {
      fill: $color-complementary-pure;
    }

    .ods-tag__content {
      color: $color-complementary-pure;
    }
  }

  &__icon {
    fill: $color-brand-primary-down;
    min-width: $spacing-stack-xs;
  }

  &__content {
    white-space: nowrap;
  }
}
