.ods-text-list-item-selectable {
  .ods-checkbox__root,
  .ods-radio__root {
    align-items: center;
    background-color: $color-interface-light-pure;
    padding: $spacing-inline-xs;
    width: 100%;

    &:hover,
    &:focus {
      background-color: $color-interface-light-up;
      cursor: pointer;
    }
  }

  .ods-checkbox__label,
  .ods-radio__label {
    padding-left: 16px;
    width: 100%;
  }
}

.ods-text-list-item-selectable--disabled {
  background-color: transparent;
  cursor: not-allowed;

  .ods-checkbox__root,
  .ods-radio__root {
    &:hover,
    &:focus {
      background-color: transparent;
      cursor: not-allowed;
    }
  }
}

.ods-text-list-item {
  align-items: center;
  align-items: flex-start;
  background-color: $color-interface-light-pure;
  display: flex;
  flex-direction: column;
  padding: $spacing-inline-xs;
  width: 100%;

  &--with-action {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: $spacing-inline-xs $spacing-inline-xxs $spacing-inline-xs
      $spacing-inline-xs;

    svg {
      color: $color-interface-dark-up;
      height: 20px;
      width: 20px;
    }

    &:hover,
    &:focus {
      background-color: $color-interface-light-up;
      cursor: pointer;
    }
  }

  &--selectable {
    background-color: transparent;
    padding: 0;
  }

  &--wide {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    .ods-text-list-item__info-text.ods-typography__description {
      margin-top: 0;
    }
  }

  &__default-content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    text-align: start;
  }

  &__info-text.ods-typography__description {
    margin-top: $spacing-inline-xxs;
  }

  &__info-text--neutral.ods-typography__description {
    color: $color-interface-dark-deep;
  }

  &__info-text--positive.ods-typography__description {
    color: $color-status-positive-deep;
  }

  .ods-typography__paragraph {
    align-items: center;
    color: $color-interface-dark-pure;
    display: flex;
    gap: 4px;
  }

  .ods-typography__captionbold {
    margin-top: $spacing-inline-xxs;
  }

  .ods-tag--medium {
    max-height: 20px;
  }
}

.ods-text-list-item__default-content--disabled {
  cursor: not-allowed;

  .ods-typography__paragraph {
    color: $color-interface-dark-up;
  }

  .ods-typography__description {
    color: $color-interface-light-deep;
  }
}

.ods-text-list-item--button {
  background-color: transparent;
  border: hidden;
  padding: 0;
}
