.ods-text-list-selectable {
  .ods-checkbox__root,
  .ods-radio__root {
    align-items: center;
    background-color: $color-interface-light-pure;
    padding: $spacing-inline-xs;
    width: 100%;

    &:hover,
    &:focus {
      background-color: $color-interface-light-up;
      cursor: pointer;
    }
  }

  .ods-checkbox__label,
  .ods-radio__label {
    padding-left: 16px;
    width: 100%;
  }

  &__divider {
    background-color: $color-interface-light-down;
    height: 1px;
    margin: 0 $spacing-inline-xs;
    width: 100%;
  }
}

.ods-text-list-selectable--disabled {
  background-color: transparent;
  cursor: not-allowed;

  .ods-checkbox__root,
  .ods-radio__root {
    &:hover,
    &:focus {
      background-color: transparent;
      cursor: not-allowed;
    }
  }
}
