$arrow-directions: (
  down: top,
  up: bottom,
  left: right,
  right: left,
);

@mixin arrow($direction) {
  @if not map-has-key($arrow-directions, $direction) {
    @error '[tooltip] The $direction parameter must be one of: `#{map-keys($DIRECTIONS)}, `#{$direction}` was given.';
  }
  border: 5px solid transparent;
  height: 0;
  width: 0;
  border-#{map-get($arrow-directions, $direction)}-color: $color-interface-dark-deep;
}

@mixin base-effects() {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.18s ease-out 0.18s, transform 0.18s ease-out 0.18s;
}

@mixin no-effects() {
  transition: none;
}

@mixin normalized-text() {
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  text-indent: 0;
  text-shadow: none;
}

.ods-tooltip {
  cursor: pointer;
  position: relative;
}

.ods-tooltip::after {
  @include base-effects();
  @include normalized-text();

  background: $color-interface-dark-deep;
  border-radius: 2px;
  border-radius: 8px;
  color: $color-interface-light-pure;
  content: attr(aria-label);
  padding: 12px 16px;
  position: absolute;
  white-space: pre;
  z-index: 10;
}

.ods-tooltip::before {
  @include arrow(down);
  @include base-effects();

  content: '';
  position: absolute;
  z-index: 10;
}

.ods-tooltip:hover,
.ods-tooltip[data-tooltip-visible],
.ods-tooltip:not([data-tooltip-nofocus]):focus {
  &::before,
  &::after {
    opacity: 1;
    pointer-events: none;
  }
}

.ods-tooltip[data-tooltip-break] {
  &::after {
    white-space: pre;
  }

  &[data-tooltip-length] {
    &::after {
      white-space: pre-line;
      word-break: break-word;
    }
  }
}

.ods-tooltip[data-tooltip-blunt] {
  &::before,
  &::after {
    @include no-effects();
  }
}

.ods-tooltip[data-tooltip-pos='up'],
.ods-tooltip[data-tooltip-pos='down'] {
  &:hover,
  &[data-tooltip-visible] {
    &::after {
      transform: translate(-50%, 0);
    }

    &::before {
      transform: translate(-50%, 0);
    }
  }
}

.ods-tooltip[data-tooltip-pos*='-left'] {
  &::after {
    left: 0;
  }

  &::before {
    left: 8px;
  }
}

.ods-tooltip[data-tooltip-pos*='-right'] {
  &::after {
    right: 0;
  }

  &::before {
    right: 8px;
  }
}

.ods-tooltip[data-tooltip-pos*='-left'],
.ods-tooltip[data-tooltip-pos*='-right'] {
  &:hover,
  &[data-tooltip-visible] {
    &::after {
      transform: translate(0, 0);
    }

    &::before {
      transform: translate(0, 0);
    }
  }
}

.ods-tooltip[data-tooltip-pos^='up'] {
  &::before,
  &::after {
    bottom: 100%;
    transform: translate(0, 4px);
    transform-origin: top;
  }

  &::after {
    margin-bottom: 10px;
  }
}

.ods-tooltip[data-tooltip-pos='up'] {
  &::before,
  &::after {
    left: 50%;
    transform: translate(-50%, 4px);
  }
}

.ods-tooltip[data-tooltip-pos^='down'] {
  &::before,
  &::after {
    top: 100%;
    transform: translate(0, calc(4px * -1));
  }

  &::after {
    margin-top: 10px;
  }

  &::before {
    @include arrow(up);
  }
}

.ods-tooltip[data-tooltip-pos='down'] {
  &::after,
  &::before {
    left: 50%;
    transform: translate(-50%, calc(4px * -1));
  }
}

.ods-tooltip[data-tooltip-pos='left'],
.ods-tooltip[data-tooltip-pos='right'] {
  &:hover,
  &[data-tooltip-visible] {
    &::after {
      transform: translate(0, -50%);
    }

    &::before {
      transform: translate(0, -50%);
    }
  }
}

.ods-tooltip[data-tooltip-pos='left'] {
  &::after,
  &::before {
    right: 100%;
    top: 50%;
    transform: translate(4px, -50%);
  }

  &::after {
    margin-right: 10px;
  }

  &::before {
    @include arrow(right);
  }
}

.ods-tooltip[data-tooltip-pos='right'] {
  &::after,
  &::before {
    left: 100%;
    top: 50%;
    transform: translate(calc(4px * -1), -50%);
  }

  &::after {
    margin-left: 10px;
  }

  &::before {
    @include arrow(left);
  }
}

.ods-tooltip[data-tooltip-length] {
  &::after {
    white-space: normal;
  }
}

.ods-tooltip[data-tooltip-length='small'] {
  &::after {
    width: 80px;
  }
}

.ods-tooltip[data-tooltip-length='medium'] {
  &::after {
    width: 150px;
  }
}

.ods-tooltip[data-tooltip-length='large'] {
  &::after {
    width: 260px;
  }
}

.ods-tooltip[data-tooltip-length='xlarge'] {
  &::after {
    width: 380px;

    @media screen and (max-width: 768px) {
      width: 90vw;
    }
  }
}

.ods-tooltip[data-tooltip-length='fit'] {
  &::after {
    width: 100%;
  }
}
