.ods-topbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-family: $font-family-highlight;
  font-size: $font-size-sm;
  grid-template-columns: 3rem auto 3rem;
  height: 56px;
  width: 100%;

  &-scroll-bar {
    box-shadow: 0 4px 8px rgba(12, 13, 20, 0.08);
  }

  &-light {
    color: #fff;

    .ods-topbar-title span {
      color: #fff;
    }
  }

  &-default {
    color: $color-brand-primary-pure;

    .ods-topbar-title {
      padding-top: 0;
    }

    .ods-topbar-title span {
      color: $color-interface-dark-down;
    }
  }

  &-extend {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 128px;
    justify-content: space-between;
    padding: 16px 16px 8px;

    .ods-topbar-actions {
      display: flex;
      flex-direction: row;
      height: 72px;
      justify-content: space-between;
      width: 100%;
    }

    .ods-topbar-left {
      margin-left: 0;
    }

    .ods-topbar-right {
      margin-right: 0;
    }
  }

  &-left {
    line-height: 0;
    margin-left: 16px;
    width: 24px;

    span {
      align-items: center;
      cursor: pointer;
      display: flex;
      justify-content: center;
    }
  }

  &-title {
    font-weight: $font-weight-extrabold;
    line-height: $line-height-medium;
    margin-left: 16px;
    margin-right: 16px;
    width: 100%;

    span {
      color: $color-interface-dark-down;
      display: block;
      font-size: $font-size-xxxs;
      font-weight: $font-weight-medium;
    }
  }

  &-right {
    line-height: 0;
    margin-right: 16px;
    width: 24px;

    span {
      align-items: center;
      cursor: pointer;
      display: flex;
      justify-content: center;
    }
  }
}
