.ods-transaction-footer {
  background-color: $color-interface-light-pure;
  padding: $spacing-inset-sm;

  &--highlight {
    background-color: $color-interface-light-up;
    border-top-left-radius: $border-radius-lg;
    border-top-right-radius: $border-radius-lg;
  }
}
