@mixin headings {
  color: $color-interface-dark-pure;
  font-family: $font-family-highlight;
  font-weight: $font-weight-extrabold;
  line-height: $line-height-medium;
}

@mixin subtitles {
  color: $color-interface-dark-down;
  font-family: $font-family-base;
  font-weight: $font-weight-regular;
  line-height: $line-height-medium;
}

@mixin texts {
  color: $color-interface-dark-down;
  font-family: $font-family-base;
  font-weight: $font-weight-regular;
  line-height: $line-height-comfy;
}

.ods-typography {
  margin: 0;

  &__heading1 {
    @include headings;
    font-size: $font-size-lg;
  }

  &__heading2 {
    @include headings;
    font-size: $font-size-md;
  }

  &__heading3 {
    @include headings;
    font-size: $font-size-sm;
  }

  &__heading4 {
    @include headings;
    font-size: $font-size-xs;
    font-weight: $font-weight-bold;
    line-height: $line-height-medium;
  }

  &__heading5 {
    @include headings;
    font-size: $font-size-xxs;
    font-weight: $font-weight-bold;
    line-height: $line-height-medium;
  }

  &__subtitle1 {
    @include subtitles;
    font-size: $font-size-md;
  }

  &__subtitle2 {
    @include subtitles;
    font-size: $font-size-sm;
  }

  &__paragraph {
    @include texts;
    font-size: $font-size-xs;
  }

  &__lead {
    color: $color-interface-dark-deep;
    font-family: $font-family-base;
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
  }

  &__description {
    @include texts;
    font-size: $font-size-xxs;
  }

  &__caption {
    color: $color-interface-dark-down;
    font-family: $font-family-base;
    font-weight: $font-weight-medium;
    line-height: $line-height-comfy;
    font-size: $font-size-xxxs;
  }

  &--inverse {
    color: $color-interface-light-pure;
  }
}
