.ods-breadcrumb {
  align-items: center;
  display: flex;
  font-family: $font-family-base;
  font-size: $font-size-xxxs;
  gap: 4px;
  padding: 6px 0;

  @media (max-width: 576px) {
    padding: 10px 0;
  }

  svg {
    color: $color-interface-dark-up;
  }

  &__item {
    align-items: center;
    display: flex;
    gap: 4px;
  }

  button {
    background: none;
    border: transparent;
    outline: 1px solid transparent;
    padding: 0;

    svg {
      color: $color-interface-dark-down;
    }
  }

  span,
  button,
  a {
    background-color: transparent;
    color: $color-interface-dark-up;
    font-family: $font-family-base;
    font-size: $font-size-xxxs;
    font-weight: $font-weight-medium;
    line-height: $line-height-tight;
    text-decoration: none;
    transition: 0.3s hover;

    &:last-child {
      color: $color-interface-dark-down;
      cursor: default;
    }

    &:not(:last-child):hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
