.ods-row {
  @include make-row();
}

@include make-row-columns();

// Remove the negative margin from default .row, then the horizontal padding
// from all immediate children columns (to prevent runaway style inheritance).
.ods-no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .ods-col,
  > [class*='ods-col-'] {
    padding-right: 0;
    padding-left: 0;
  }
}

.show-grid {
  .ods-row {
    > .ods-col,
    > [class^='ods-col-'] {
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      background-color: #bbeffd;
      border: 1px solid #61dafb;
    }
  }
}
