.ods-checkbox {
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;

  &__root {
    display: inline-flex;
    user-select: none;

    &:hover .ods-checkbox__checkmark {
      background-color: $color-interface-light-up;
      border-color: $color-interface-dark-up;
    }
  }

  &__label {
    cursor: pointer;
    padding-left: $spacing-inline-xxs;
  }

  &__checkmark {
    background-color: $color-interface-light-pure;
    border: solid $border-width-hairline $color-interface-dark-up;
    border-radius: $border-radius-sm;
    box-sizing: border-box;
    cursor: pointer;
    height: 20px;
    min-height: 20px;
    min-width: 20px;
    width: 20px;

    &::after {
      border: solid #fff;
      border-width: 0 2px 2px 0;
      box-sizing: border-box !important;
      content: '';
      display: none;
      height: 10px;
      margin-left: 6px;
      margin-top: 3px;
      transform: rotate(40deg);
      width: 6px;
    }

    &--error {
      border-color: $color-status-negative-pure;
    }
  }

  &__checkmark--indeterminate {
    align-items: center;
    display: flex;
    justify-content: center;

    &::after {
      border: 0;
      border-top: 2px solid #fff;
      height: 0;
      margin: 0;
      position: absolute;
      transform: none;
      width: 14px;
    }
  }

  &:checked ~ &__checkmark::after {
    display: block;
    position: relative;
  }

  &:checked:not(:disabled) ~ &__checkmark {
    background-color: $color-complementary-pure;
    border-color: $color-complementary-pure;
  }

  &:checked:disabled ~ &__checkmark {
    background-color: $color-interface-light-down;
    border-color: $color-interface-light-down;
  }

  &:disabled ~ &__checkmark,
  &:disabled ~ &__label {
    color: $color-interface-light-deep;
    cursor: not-allowed;
  }

  &:disabled:not(:checked) ~ &__checkmark {
    background-color: $color-interface-light-pure;
    border-color: $color-interface-light-down;
  }
}
