.ods-form-label {
  align-self: flex-start;
  color: $color-interface-dark-down;
  font-family: $font-family-base;
  font-size: $font-size-xxs;
  font-weight: $font-weight-regular;
  line-height: $line-height-medium;

  &--disabled {
    color: $color-interface-light-deep;
  }
}
