.ods-form-control {
  &__root {
    display: flex;
    flex-direction: column;
    font-family: $font-family-base;
    width: 100%;
  }

  &__header {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: $spacing-inline-xxs;
    text-align: center;
  }

  &__label {
    margin-right: $spacing-inline-xxxs;
  }

  &__element {
    max-height: 69.19px;
  }

  &__icon {
    align-items: start;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.ods-tooltip[data-tooltip-pos*='-left']::before {
      left: 3px;
    }

    &.ods-tooltip[data-tooltip-pos*='-left']::after {
      left: -5px;
    }
  }

  &__helper-text {
    color: $color-interface-dark-up;
    font-size: $font-size-xxxs;
    font-weight: $font-weight-medium;
    line-height: $line-height-tight;
    margin-top: $spacing-stack-xxxs;

    &--error {
      color: $color-status-negative-pure;
    }

    &--disabled {
      color: $color-interface-dark-up;
    }
  }
}
