.ods-form-control {
  &__root {
    display: flex;
    flex-direction: column;
    font-family: $font-family-base;
    width: 100%;
  }

  &__helper-text {
    color: $color-interface-dark-up;
    font-size: $font-size-xxxs;
    font-weight: $font-weight-medium;
    line-height: $line-height-tight;
    margin-top: $spacing-stack-xxxs;

    &--error {
      color: $color-status-negative-pure;
    }

    &--disabled {
      color: $color-interface-dark-up;
    }
  }
}
