.ods-input {
  background-color: $color-interface-light-pure;
  border: $border-width-hairline solid $color-interface-light-deep;
  border-radius: $border-radius-sm;
  box-sizing: border-box;
  color: $color-interface-dark-deep;
  font-size: $font-size-xs;
  font-weight: $font-weight-regular;
  height: 48px;
  line-height: $line-height-medium;
  outline: none;
  padding: 0 $spacing-inline-xs;

  &::placeholder {
    color: $color-interface-light-deep;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: $color-brand-primary-down;
    border-width: $border-width-thin;
    padding: 0 ($spacing-inline-xs - $border-width-hairline);
  }

  &:disabled {
    background-color: $color-interface-light-down;
    border-color: $color-interface-light-down;
    color: $color-interface-dark-up;
    cursor: not-allowed;

    &:active {
      border-color: $color-interface-light-down;
    }
  }

  &--error {
    border-color: $color-status-negative-pure;
  }
}
