.ods-input {
  align-items: center;
  background-color: $color-interface-light-pure;
  border: $border-width-hairline solid $color-interface-light-deep;
  border-radius: $border-radius-sm;
  display: flex;
  height: 46px;

  input {
    border: 0;
    border-radius: $border-radius-sm;
    box-sizing: border-box;
    color: $color-interface-dark-deep;
    font-family: $font-family-base;
    font-size: $font-size-xs;
    font-weight: $font-weight-regular;
    height: 100%;
    line-height: $line-height-medium;
    outline: none;
    padding: 0 $spacing-inline-xs;
    width: 100%;

    &::placeholder {
      color: $color-interface-light-deep;
      font-weight: $font-weight-regular;
    }
  }

  &__number-controls {
    cursor: pointer;
  }

  &:hover,
  &:focus,
  &:active,
  &:focus-within {
    border-color: $color-brand-primary-down;
    border-width: $border-width-thin;
    margin: -1px;
  }

  &--filled {
    border: $border-width-hairline solid $color-brand-primary-up;
  }

  &--error {
    border-color: $color-status-negative-pure;
  }

  &--disabled {
    background-color: $color-interface-light-down;
    border-color: $color-interface-light-down;
    cursor: not-allowed;

    input {
      color: $color-interface-dark-up;
      cursor: not-allowed;
    }

    &:hover,
    &:focus,
    &:active {
      border-color: $color-brand-primary-down;
    }
  }

  &__adornment {
    align-items: center;
    color: $color-interface-dark-deep;
    display: flex;
    height: 100%;
    padding-right: $spacing-inline-xs;

    &--placeholder {
      color: $color-interface-light-deep;
    }

    input {
      padding: 0 4px;
    }
  }

  &--left {
    flex-direction: row-reverse;

    input {
      padding: 0 16px;
    }

    .ods-input__adornment {
      padding: 0 0 0 16px;
    }
  }

  &--right {
    .ods-input__adornment {
      margin-left: -12px;
    }
  }
}
