.ods-radio {
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;

  &__root {
    display: inline-flex;
    user-select: none;

    &:hover .ods-radio__checkmark {
      background-color: $color-interface-light-up;
      border-color: $color-interface-dark-up;
    }
  }

  &__label {
    cursor: pointer;
    padding-left: $spacing-inline-xxs;
  }

  &__checkmark {
    background-color: $color-interface-light-pure;
    border: solid 2px $color-interface-dark-up;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    height: 24px;
    width: 24px;
  }

  &:checked ~ &__checkmark {
    border-width: 8px;
  }

  &:checked:not(:disabled) ~ &__checkmark {
    border-color: $color-complementary-pure;
  }

  &:checked:disabled ~ &__checkmark {
    border-color: $color-interface-light-deep;
  }

  &:disabled ~ &__checkmark,
  &:disabled ~ &__label {
    color: $color-interface-light-deep;
    cursor: not-allowed;
  }

  &:disabled:not(:checked) ~ &__checkmark {
    border-color: $color-interface-light-deep;
  }
}
