.ods-radio {
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;

  &__root-container {
    display: flex;
    flex-direction: column;
    gap: $spacing-stack-xxs;
  }

  &__root {
    display: flex;
    user-select: none;

    &:hover .ods-radio__checkmark {
      background-color: $color-interface-light-up;
      border-color: $color-interface-dark-up;
    }
  }

  &__label {
    cursor: pointer;
    padding-left: $spacing-inline-xxs;
  }

  &__checkmark {
    background-color: $color-interface-light-pure;
    border: solid $border-width-hairline $color-interface-dark-up;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    height: 20px;
    min-height: 20px;
    min-width: 20px;
    width: 20px;

    &--error {
      border-color: $color-status-negative-pure;
    }
  }

  &__error-message {
    color: $color-status-negative-pure;
    font-family: $font-family-base;
    font-size: $font-size-xxxs;
    font-weight: $font-weight-medium;
    line-height: $line-height-tight;
  }

  &:checked ~ &__checkmark {
    border-width: 6px;
  }

  &:checked:not(:disabled) ~ &__checkmark {
    border-color: $color-complementary-pure;
  }

  &:checked:disabled ~ &__checkmark {
    border-color: $color-interface-light-deep;
  }

  &:disabled ~ &__checkmark,
  &:disabled ~ &__label {
    color: $color-interface-light-deep;
    cursor: not-allowed;
  }

  &:disabled:not(:checked) ~ &__checkmark {
    background-color: $color-interface-light-pure;
    border-color: $color-interface-light-deep;
  }
}
