.ods-select {
  &__root {
    min-width: 237px;
  }

  &__control {
    align-items: center;
    background-color: $color-interface-light-pure;
    border: solid $border-width-hairline $color-interface-light-deep;
    border-radius: $border-radius-sm;
    color: $color-interface-dark-deep;
    cursor: pointer;
    display: flex;
    font-family: $font-family-base;
    font-size: $font-size-xs;
    height: 48px;
    justify-content: space-between;
    outline: none;
    padding-left: $spacing-inline-xs;
    padding-right: $spacing-inline-xs;
    text-align: left;
    width: 100%;

    &--expanded,
    &:hover,
    &:focus,
    &:active {
      border-color: $color-brand-primary-down;
      border-width: $border-width-thin;
      padding-left: $spacing-inline-xs - $border-width-hairline;
      padding-right: $spacing-inline-xs - $border-width-hairline;
    }

    &:disabled {
      background-color: $color-interface-light-up;
      border: hidden;
      color: $color-interface-light-deep;
      cursor: not-allowed;
    }

    &--filled {
      border-color: $color-brand-primary-up;
    }

    &--error {
      border-color: $color-status-negative-pure;
    }
  }

  &__value {
    flex: 1;
    font-size: $font-size-xs;
    font-weight: $font-weight-regular;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &--empty {
      color: $color-interface-light-deep;
    }
  }

  &__listbox-wrapper {
    position: relative;
    z-index: 2;
  }

  &__listbox {
    background-color: $color-interface-light-pure;
    border: solid 1px $color-interface-light-deep;
    border-radius: $border-radius-sm;
    box-shadow: $shadow-level-2;
    list-style: none;
    margin: 0;
    margin-top: $spacing-inline-xxxs;
    max-height: 160px;
    outline: none;
    overflow-y: auto;
    padding: 0;
    padding-bottom: $spacing-inline-xxs;
    padding-top: $spacing-inline-xxs;
    position: absolute;
    width: 100%;
  }

  &__option {
    align-items: center;
    color: $color-interface-dark-down;
    cursor: pointer;
    display: flex;
    flex: 1;
    font-family: $font-family-base;
    font-size: $font-size-xxs;
    font-weight: $font-weight-regular;
    height: 40px;
    line-height: $line-height-comfy;
    list-style: none;
    margin: 0;
    min-width: 0;
    padding-left: $spacing-inline-xs;
    padding-right: $spacing-inline-xs;

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &--selected {
      background-color: $color-interface-light-up;
      color: $color-brand-primary-pure;
      font-weight: $font-weight-medium;
    }

    &:hover:not(&--selected, &--disabled),
    &:focus:not(&--selected, &--disabled),
    &:active:not(&--selected, &--disabled) {
      background-color: $color-interface-light-up;
      color: $color-interface-dark-down;
      font-weight: $font-weight-regular;
    }

    &--disabled {
      background-color: $color-interface-light-pure;
      color: $color-interface-dark-up;
      cursor: not-allowed;
    }
  }
}

.ods-select__arrow {
  display: flex;
  justify-self: center;

  svg {
    color: $color-interface-dark-down;
    height: 20px;
    max-height: 20px;
    max-width: 20px;
    width: 20px;
  }

  &--down {
    svg {
      transform: rotate(0);
      transition: transform 0.3s;
    }
  }

  &--up {
    svg {
      transform: rotate(-180deg);
      transition: transform 0.3s;
    }
  }

  &--disabled {
    color: $color-interface-light-deep;

    svg {
      color: $color-interface-light-deep;
    }
  }
}
