.ods-select {
  &__root {
    width: 237px;
  }

  &__control {
    align-items: center;
    background-color: $color-interface-light-pure;
    border: solid $border-width-hairline $color-interface-light-deep;
    border-radius: $border-radius-sm;
    color: $color-interface-dark-deep;
    cursor: pointer;
    display: flex;
    font-family: $font-family-base;
    font-size: $font-size-xs;
    height: 48px;
    justify-content: space-between;
    outline: none;
    padding-left: $spacing-inline-xs;
    padding-right: $spacing-inline-xs;
    text-align: left;
    width: 100%;

    &--expanded,
    &:hover,
    &:focus,
    &:active {
      border-color: $color-brand-primary-down;
    }

    &:disabled {
      background-color: $color-interface-light-down;
      border-color: $color-interface-light-down;
      color: $color-interface-dark-up;
      cursor: not-allowed;
    }

    &--error {
      border-color: $color-status-negative-pure;
    }
  }

  &__value {
    flex: 1;
    font-weight: $font-weight-regular;
    line-height: $line-height-medium;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &--empty {
      color: $color-interface-light-deep;
    }
  }

  &__arrow {
    border: solid $color-interface-dark-down;
    border-width: 0 2px 2px 0;
    display: inline-block;
    margin-left: $spacing-inline-xs;
    padding: 3px;

    &--up {
      margin-top: 3px;
      transform: rotate(-135deg);
    }

    &--down {
      margin-top: -3px;
      transform: rotate(45deg);
    }

    &--disabled {
      border-color: $color-interface-dark-up;
    }
  }

  &__listbox-wrapper {
    position: relative;
  }

  &__listbox {
    background-color: $color-interface-light-pure;
    border: solid 1px $color-interface-light-deep;
    border-radius: $border-radius-sm;
    box-shadow: $shadow-level-2;
    list-style: none;
    margin: 0;
    margin-top: $spacing-inline-xxxs;
    max-height: 160px;
    outline: none;
    overflow-y: auto;
    padding: 0;
    padding-bottom: $spacing-inline-xxs;
    padding-top: $spacing-inline-xxs;
    position: absolute;
    width: 100%;
  }

  &__option {
    align-items: center;
    color: $color-interface-dark-deep;
    cursor: pointer;
    display: flex;
    flex: 1;
    font-family: $font-family-highlight;
    font-size: $font-size-xxs;
    font-weight: $font-weight-regular;
    height: 40px;
    line-height: $line-height-medium;
    list-style: none;
    margin: 0;
    min-width: 0;
    padding-left: $spacing-inline-xs;
    padding-right: $spacing-inline-xs;

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &--selected,
    &:hover,
    &:focus,
    &:active {
      background-color: $color-interface-light-up;
      color: $color-brand-primary-pure;
      font-weight: $font-weight-bold;
    }

    &:hover:not(&--selected) {
      font-weight: $font-weight-regular;
    }
  }
}
