.ods-input--amount {
  width: 100%;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  input {
    text-align: center;
    display: block;
  }

  &__stepper-controls {
    align-items: center;
    cursor: pointer;
    display: block;
  }

  &__stepper-controls_plus {
    padding-right: 4px;
  }

  &__stepper-controls_minus {
    padding-left: 4px;
  }
}
