.ods-input--amount {
  .ods-input--root {
    align-items: center;
    display: flex;
    margin: 1px;
    width: 100%;
  }

  input {
    appearance: none;
    display: block;
    margin: 0;
    text-align: center;
  }

  &__stepper-controls {
    align-items: center;
    cursor: pointer;
    display: block;
  }

  &__stepper-controls_plus {
    padding-right: 4px;
  }

  &__stepper-controls_minus {
    padding-left: 4px;
  }

  .ods-input--amount--zero {
    svg {
      color: $color-interface-light-deep;
    }

    input {
      color: $color-interface-light-deep;
    }
  }

  .ods-input--amount--zero:hover,
  .ods-input--amount--zero:focus {
    svg {
      color: $color-interface-dark-deep;
    }
  }
}
