.ods-textarea {
  background-color: $color-interface-light-pure;
  border: $border-width-hairline solid $color-interface-light-deep;
  border-radius: $border-radius-sm;
  box-sizing: border-box;
  color: $color-interface-dark-deep;
  font-family: $font-family-base;
  font-size: $font-size-xs;
  font-weight: $font-weight-regular;
  line-height: $line-height-medium;
  outline: none;
  padding: $spacing-inline-xs;
  resize: none;
  width: 100%;

  &::placeholder {
    color: $color-interface-light-deep;
  }

  &:hover,
  &:focus,
  &:active,
  &:focus-within {
    border: $border-width-thin solid $color-brand-primary-down;
  }

  &:disabled {
    background-color: $color-interface-light-down;
    border-color: $color-interface-light-down;
    color: $color-interface-dark-up;
    cursor: not-allowed;

    &:active {
      border-color: $color-interface-light-down;
    }
  }

  &--filled {
    border: $border-width-hairline solid $color-brand-primary-up;
  }

  &--error {
    border-color: $color-status-negative-pure;
  }
}
