.ods-textarea {
  background-color: $color-interface-light-pure;
  border: hidden;
  border-radius: $border-radius-sm;
  box-shadow: 0 0 0 $border-width-hairline $color-interface-light-deep;
  box-sizing: border-box;
  color: $color-interface-dark-deep;
  font-family: $font-family-base;
  font-size: $font-size-xs;
  font-weight: $font-weight-regular;
  height: 145px;
  line-height: $line-height-comfy;
  outline: none;
  padding: $spacing-inline-xs;
  resize: none;
  width: 100%;

  &::placeholder {
    color: $color-interface-light-deep;
  }

  &:hover,
  &:focus,
  &:active,
  &:focus-within {
    box-shadow: 0 0 0 $border-width-thin $color-brand-primary-down;
  }

  &:disabled {
    background-color: $color-interface-light-up;
    border: hidden;
    box-shadow: 0 0 0 $border-width-hairline $color-interface-light-up;
    color: $color-interface-light-deep;
    cursor: not-allowed;
  }

  &--filled {
    box-shadow: 0 0 0 $border-width-hairline $color-brand-primary-up;
  }

  &--error {
    box-shadow: 0 0 0 $border-width-hairline $color-status-negative-pure;
  }
}
