.ods-token-input {
  display: flex;
  gap: $spacing-inline-xxs;
  justify-content: flex-start;

  &__input {
    background-color: $color-interface-light-pure;
    border-radius: $border-radius-sm;
    box-shadow: 0 0 0 $border-width-hairline $color-interface-light-deep;
    box-sizing: border-box;
    height: 48px;
    padding: 0 $spacing-inline-xs;
    width: 48px;

    &:hover,
    &:focus,
    &:active,
    &:focus-within {
      box-shadow: 0 0 0 $border-width-thin $color-brand-primary-down;
    }
  }

  input {
    border: hidden;
    border-radius: $border-radius-sm;
    box-sizing: border-box;
    color: $color-interface-dark-deep;
    font-family: $font-family-base;
    font-size: $font-size-xs;
    font-weight: $font-weight-regular;
    height: 100%;
    line-height: $line-height-medium;
    outline: none;
    width: 100%;
  }

  &--error {
    box-shadow: 0 0 0 $border-width-hairline $color-status-negative-pure;
  }

  &--disabled {
    background-color: $color-interface-light-up;
    border: hidden;
    box-shadow: 0 0 0 $border-width-hairline $color-interface-light-up;

    input {
      background-color: $color-interface-light-up;
      color: $color-interface-light-deep;
      cursor: not-allowed;
    }

    &:hover,
    &:focus,
    &:active {
      box-shadow: 0 0 0 $border-width-hairline $color-interface-light-up;
    }
  }
}
