@import '~@useblu/tokens/dist/web/tokens.scss';

.ods-select {
  &__root {
    width: 237px;
  }

  &__control {
    height: 48px;
    color: $color-interface-dark-deep;
    font-family: $font-family-base;
    font-size: $font-size-xs;
    border: solid $border-width-hairline $color-interface-light-deep;
    border-radius: $border-radius-sm;
    background-color: $color-interface-light-pure;
    padding-right: $spacing-inline-xs;
    padding-left: $spacing-inline-xs;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--disabled {
      color: $color-interface-dark-up;
      background-color: $color-interface-light-down;
      border-color: $color-interface-light-down;
    }
  }

  &__value {
    font-weight: $font-weight-regular;
    line-height: $line-height-medium;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__arrow {
    margin-left: $spacing-inline-xs;
    user-select: none;
  }

  &__list-container {
    position: relative;
  }

  &__list-options {
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: $border-radius-sm;
    box-shadow: $shadow-level-2;
    background-color: $color-interface-light-pure;
    border-color: $color-interface-light-deep;
    margin-top: $spacing-inline-xxxs;
    padding-top: $spacing-inline-xxs;
    padding-bottom: $spacing-inline-xxs;
    position: absolute;
    width: 100%;
    max-height: 160px;
    overflow-y: auto;
  }
}
