@import '~@useblu/tokens/dist/web/tokens.scss';

.ods-select {
  &__root {
    width: 237px;
  }

  &__control {
    height: 48px;
    width: 100%;
    color: $color-interface-dark-deep;
    font-family: $font-family-base;
    font-size: $font-size-xs;
    border: solid $border-width-hairline $color-interface-light-deep;
    border-radius: $border-radius-sm;
    background-color: $color-interface-light-pure;
    padding-right: $spacing-inline-xs;
    padding-left: $spacing-inline-xs;
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: none;
    cursor: pointer;
    text-align: left;

    &--expanded,
    &:hover,
    &:focus,
    &:active {
      border-color: $color-brand-primary-down;
    }

    &:disabled {
      cursor: not-allowed;
      color: $color-interface-dark-up;
      background-color: $color-interface-light-down;
      border-color: $color-interface-light-down;
    }

    &--error {
      border-color: $color-status-negative-pure;
    }
  }

  &__value {
    font-weight: $font-weight-regular;
    line-height: $line-height-medium;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &--empty {
      color: $color-interface-light-deep;
    }
  }

  &__arrow {
    margin-left: $spacing-inline-xs;
    user-select: none;
  }
}
