@import '~@useblu/tokens/dist/web/tokens.scss';

.ods-form-label {
  align-self: flex-start;
  font-size: $font-size-xxs;
  font-weight: $font-weight-bold;
  line-height: $line-height-medium;
  color: $color-interface-dark-down;
  margin-bottom: $spacing-stack-xxs;

  &--disabled {
    color: $color-interface-dark-up;
  }
}
